.about-main{
    position:relative;
    display: flex;
    justify-content: center;
}
.about-top{
    position: relative;
    
    justify-content: center;

}
.about-pic{
    position: relative;
    left: 500px;
    width: 230px;
    margin-left: 50px;
    
}
.about-p{
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}
.about-p::before{
    display: inline-block;
    margin: 0 20px 8px 0;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: orangered;
    width: 500px;
}
.about-p::after{
    display: inline-block;
    margin: 0 0 8px 20px;
    height: 3px;
    content: " ";
    text-shadow: none;
    background-color: orangered;
    width: 500px;
}
.about-desc{
    word-spacing: 2px;
}
.social{
    margin-top: 100px;
    position: relative;
    text-align: center;
}
.social-link-head{
    font-size: 40px;
    text-transform: uppercase;
}
.social-icon{
    margin: 10px;
    display: flex;
    
    gap:10px;
    justify-content: center;
}

@media (max-width:768px) {
    .about-main{
        position:relative;
        display: inline-block;
        justify-content: center;
        width:auto;
    }
    .about-top{
        position: relative;
        display: inline-block;
        width: auto;
        justify-content: center;
    
    }
    .about-pic{
        position: relative;
       

        
        left: unset;
        width: 230px;
        margin-left:unset;
        
    }
    .about-pic-con{
        

        width: auto;
        display: flex;
        align-self: center;
        justify-content: center;
    }
    .about-p{
        font-size: 40px;
        padding: 3px;
        padding-top: 4px;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        border: 3px solid orangered;
    }
    .about-p::before{
        display: none;
        visibility: hidden;
    }
    .about-p::after{
        display: none;
        visibility: hidden;
    }
    .about-desc{
        word-spacing: 2px;
        text-align: center;
        position: relative;
        display: inline-block;
        width: auto;
        font-size: 20px;
        word-spacing: 3px;
        line-height: 25px;
        
    }
    .about-desc-main{
        position: relative;
        display: inline-block;
        width: auto;
        margin: 10px;
    }
    .social{
        margin-top: 10px;
        position: relative;
        text-align: center;
    }
    .social-link-head{
        font-size: 40px;
        text-transform: uppercase;
    }
    .social-icon{
        margin: 10px;
        display: flex;
        
        gap:10px;
        justify-content: center;
    }
    
}