.find-me-con{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}
.find-me-head{
    font-size: 50px;
}
.icon{
    opacity: .5;
    transition: .7s;
}
.icon:hover{
    
    opacity: 1;
    
}
.contact-box{
    margin:10px;
     border:1px solid grey;
     background:rgba(71, 71, 71,.1);
     width:700px;
     height:22rem;
}
.contact-form{
    position: relative;
    display: flex;
    justify-content: center;
}
.contact-form-box{
    display: inline-block;
    position: relative;
    padding: 10px;
}
.contact-input{
    width: 50vh;
}
.form-name{
    display: flex;
    gap:50px;
    justify-content: center;
    margin:30px
}
.form-contact-detail{
    display: flex;
    gap:50px;
    justify-content: center;
    margin:30px;
    margin-top: 50px;
}
.form-massage{
    display: flex;
    justify-content: center;
    margin:30px;
    margin-top: 80px;
}
.form-btn{
    display: flex;
    justify-content: center;
    margin:30px;
}
.submit-btn{
    border:2px solid rgb(0, 2, 150);
    color: rgb(0, 2, 150);
}
.submit-btn:hover{
    box-shadow: 0px 0px 5px rgb(0, 2, 150) , 0px 0px 5px inset rgb(0, 2, 150) ;
}

@media (max-width:768px) {
    .contact-box{
        margin:10px;
         border:1px solid grey;
         background:rgba(71, 71, 71,.1);
         width:300px;
         height:auto;
    }
    .contact-form{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .contact-form-box{
        display: inline-block;
        position: relative;
        padding: 10px;
    }
    .contact-input{
        width: 35vh;
    }
    .form-name{
        display: flex;
        flex-direction: column;
        gap:50px;
        justify-content: left;
        margin:30px
    }
    .form-contact-detail{
        display: flex;
        gap:50px;
        flex-direction: column;
        justify-content: left;
        margin:30px;
        margin-top: 50px;
    }
    .form-massage{
        display: flex;
        justify-content: center;
        margin:30px;
        margin-top: 80px;
    }
    .form-btn{
        display: flex;
        justify-content: center;
        margin:30px;
    }
    .submit-btn{
        border:2px solid rgb(0, 2, 150);
        color: rgb(0, 2, 150);
    }
    .submit-btn:hover{
        box-shadow: 0px 0px 5px rgb(0, 2, 150) , 0px 0px 5px inset rgb(0, 2, 150) ;
    }
       
}