

.nav-link{
    position: relative;
    margin-right: 70px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    margin-top: 5px;
}
.active{
    
    color: rgb(255, 0, 0);
}
.nav-item-div{
    position: relative;
    
    display: contents;
    margin-top: -10px;
}
li{
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}
ul{
    text-align: center;
    margin:0;
    padding: 0;
    margin-left: 50px;
}
.logo-div{
    display: flex;
    justify-content: right;
}
.logo{
    width: 100px;
}
.toggle-btn{
    border: 2px solid black;
    
}

@media (max-width:768px) {
    .logo-div{
        display: flex;
        justify-content: center;
    }
    
    
}