.main-cv {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  background-color: rgb(37, 37, 37);
  --myColor:orangered;
  --fontColor1:black;
}
.resumeWrraper {
  height: 1200px;
  width: 1000px;
  margin-top: 20px;
  box-shadow: 1px 1px 3px black;
  border: 2px solid black;
  padding: 10px;
  background-color: rgb(255, 255, 255);
}
.resume {
  width: 98%;
  height: 98%;
  margin: 5px;
  border: 2px solid black;
  display: flex;
}
.main-detailWrraper {
  width: 30%;
  height: 100%;
  padding: 10px;
  background-color: rgba(255, 128, 0, 0.405);
}
.profile-picWrraper{
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 98.5%;
}
.profile-pic{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    border:2px solid white;
    overflow: hidden;
}
.img-set{
    width: 100%;
    height: 100%;
    
}
.person-name-wrraper{
    display: flex;
    justify-content: center;
    height: 5%;
    width: 98.5%;
}
.person-name-inner{
    height: 98.5%;
    width: 98.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.person-name{
    color:var(--myColor);
    text-transform: uppercase;
    font-size: 20px;
}
.person-name-headline{
    color:rgba(0, 0, 0, 0.578);
    text-transform: uppercase;
    font-size: 15px;
}
.contact-info-wrraper{
    --myFont:Arial, Helvetica, sans-serif;
    overflow: hidden;
    overflow-wrap: break-word;
    font-size: 12px;
    padding: 10px;
    margin:10px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    border: 3px solid var(--myColor);
    border-radius: 8px;
    color: var(--fontColor1);
}
.basic-contact-info{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.website{
    display: flex;
    margin: 2px;
    overflow-wrap: break-word;
    font-family: var(--myFont);
    text-decoration: none;
    font-weight: bold;
    color: inherit;

}
.email{
  font-family: var(--myFont);
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
.mobile{
  font-family: var(--myFont);
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}
.birthday{
  font-family: var(--myFont);
}
.address{
  font-family: var(--myFont);
  font-weight: 500;
}

.skillWrraper{
  display: inline-block;
  padding: 3px;
}
.headingOfskill{
  text-transform: uppercase;
}

.headingOfskill p{
  font-weight: 600;
  font-size: 13px;
  margin: 13px;
  color: var(--myColor);
}
.headingOfskill span{
    display: inline-block;
    margin:0 0 10px 10px ;
    height: 2px;
    content: " ";
    text-shadow: none;
    background-color:var(--myColor);
    width: 260px;
}


/*All Deatils section*/
.detailWrraper {
  width: 70%;
  height: 100%;
  background-color: rgb(255, 255, 255);
}
.cv {
  box-shadow: 0px 0px 5px black;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-column: auto;
  justify-content: center;
}
.page-main {
  width: 10px;
}

@media (max-width: 768px) {
  .resumeWrraper {
    height: 55vh;
    width: 90vw;
    margin: 20px;
    padding: 20px;
    box-shadow: 1px 1px 3px black;
    border: 2px solid black;
    background-color: rgb(255, 255, 255);
  }
}
